extends layout

block content
<<<<<<< HEAD
  h1= message
  h2= error.status
  pre #{error.stack}
=======
  h1(id="white")= message
  h2(id="white")= error.status
  pre(id="white") #{error.stack}
>>>>>>> Finished Site
